.features__title {
  margin: 0;
  padding: 32px 25px 32px;
  position: relative;

  &::after {
    content: "";
    width: 320px;
    height: 37px;
    background-image: url("./img/index/white-tr.svg");
    position: absolute;
    left: 0;
  }

  @media (min-width: @tablet-width) {
    padding: 42px 0 0;

    &::after {
      content: none;
    }
  }
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: section;
  background-color: @main-background;

  @media (min-width: @tablet-width) {
    display: flex;
    // если тут задать паддинг, то сверху вылезает фоновый цвет
    margin: 40px 0 0;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
  }
}

.features-list__item--big {
  color: @basic-white;
  background-color: @accent-color;

  @media (min-width: @tablet-width) {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // space-around нужен для того, чтобы на, напрмер, 980px все выглядело более менее
    justify-content: space-around;

    &:nth-of-type(even) {
      flex-direction: row-reverse;
    }
  }
}

.features-sublist {
  margin: 0;
  padding: 35px 11px;
  text-align: start;
  list-style: none;
  color: @basic-black;
  background-color: @basic-white;

  @media (min-width: @tablet-width) {
    min-width: 100%;
    min-height: 260px;
    display: flex;
    text-align: center;
    padding: 35px 0;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
}

.features-sublist__item {
  position: relative;

  &--house::before {
    position: absolute;
    top: -10px;
    left: 10px;
    content: "";
    width: 39px;
    height: 37px;
    background-image: url("../../img/index/icon-house.svg");
    background-size: 100%;
    background-repeat: no-repeat;
  }

  &--food::before {
    position: absolute;
    top: -10px;
    left: 10px;
    content: "";
    width: 39px;
    height: 37px;
    background-image: url("../../img/index/icon-burger.svg");
    background-size: 100%;
    background-repeat: no-repeat;
  }

  &--souvenirs::before {
    // не понимаю, почему картинка немного обрезается снизу
    position: absolute;
    top: -10px;
    left: 10px;
    content: "";
    width: 39px;
    height: 37px;
    background-image: url("../../img/index/icon-gift.svg");
    background-size: 100%;
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    &--house::before {
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      width: 72px;
      height: 75px;
    }

    &--food::before {
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      width: 76px;
      height: 68px;
    }

    &--souvenirs::before {
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      width: 64px;
      height: 75px;
    }
  }
}

.features-sublist__item-title {
  padding-left: 60px;
  font-size: 18px;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding: 120px 20px 0;
    font-size: 21px;
    line-height: 26px;
  }
}

.features-sublist .features-sublist__item p {
  padding: 10px 0 10px 60px;

  @media (min-width: @tablet-width) {
    padding: 20px 20px;
    font-size: 14px;
    line-height: 21px;

    &:nth-of-type(2) {
      // что-то ему не нравится, не хочет рабоать ???
      padding: 20px 35px;
    }
  }
}

.features-list__item {
  margin: 0;
  padding: 0;

  &:nth-last-child(-n+3) {
    padding: 25px 15px;
    margin: 0 20px;

    &:not(:nth-last-child(1)) {
      border-bottom: 1px solid @gray-dark-border;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    text-align: center;

    &:nth-last-child(-n+3) {
      margin: 0;
      padding: 0;

      &:not(:nth-last-child(1)) {
        border-bottom: none;
        margin: 0;
      }
    }
  }
}

.features-list__item--min {
  padding: 25px 10px;

  @media (min-width: @tablet-width) {
    width: 33.3333%;
    min-height: 256px;
    padding: 0;
  }
}

.features-list__item-img {
  display: block;

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.features-list__info {
  position: relative;
  padding: 40px 0;

  @media (min-width: @tablet-width) {
    width: 33.3333%;
    padding: 40px 0;

    &:first-of-type::after {
      display: none;
    }
  }
}

.features-list__wrapper {
  @media (min-width: @tablet-width) {
    padding: 40px 30px;
  }
}

.features-list__info--traingle {
  position: relative;
  padding: 55px 0 40px;

  &:first-of-type::after {
    position: absolute;
    content: "";
    height: 37px;
    top: 0;
    left: 0;
    right: 0;
    background-image: url("../../img/index/mobile/mobile-white-mask.svg");
    background-size: auto 100%;
    background-position: top;
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    // padding: 40px 0;

    &:first-of-type::after {
      display: none;
    }
  }
}

.features-list__item-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;

  &::after {
    display: flex;
    margin-top: 26px;
    counter-increment: section;
    content: " — №"counter(section) " —";
    font-size: 14px;
    font-weight: normal;
    justify-content: center;
  }
}

.features-list__item p {
  font-size: inherit;
  line-height: 21px;
  margin: 0;
  padding: 30px 0 0;

  @media (min-width: @tablet-width) {
    padding: 30px 0 0;
  }

  @media (min-width: @desktop-width) {
    padding: 30px 20px 0;
  }
}
