.features__title {
  position: relative;
  margin: 0;
  padding: 31px 25px 18px;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    padding: 44px 0 0;
    font-size: 21px;
  }

  @media (min-width: @desktop-width) {
    padding: 55px 0 0;
  }
}

.features__lead {
  padding: 12px 15px 13px;
  margin: 0;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    padding-top: 31px;
  }
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: section;
  background-color: @main-background;

  @media (min-width: @tablet-width) {
    display: flex;
    margin: 40px 0 0;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
  }

  @media (min-width: @desktop-width) {
    margin: 30px 0 0;
  }
}

.features-list__item--big {
  color: @basic-white;
  background-color: @accent-color;

  @media (min-width: @tablet-width) {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    &:nth-of-type(even) {
      flex-direction: row-reverse;
    }
  }
}

.features-list__item--big .features-list__item-title {
  padding-top: 18px;
}

.features-sublist {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 35px 11px 9px;
  text-align: start;
  list-style: none;
  color: @basic-black;
  background-color: @basic-white;

  @media (min-width: @tablet-width) {
    min-width: 100%;
    min-height: 260px;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-top: 37px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 33px;
  }
}

.features-sublist__item {
  position: relative;

  &--house::before {
    position: absolute;
    top: -10px;
    left: 10px;
    content: "";
    width: 39px;
    height: 37px;
    background-image: url("../../img/index/icon-house.svg");
    background-size: 100%;
    background-repeat: no-repeat;
  }

  &--food::before {
    position: absolute;
    top: -6px;
    left: 7px;
    content: "";
    width: 39px;
    height: 37px;
    background-image: url("../../img/index/icon-burger.svg");
    background-size: 100%;
    background-repeat: no-repeat;
  }

  &--souvenirs::before {
    position: absolute;
    top: -11px;
    left: 15px;
    content: "";
    width: 39px;
    height: 37px;
    background-image: url("../../img/index/icon-gift.svg");
    background-size: 80%;
    background-repeat: no-repeat;
  }

  &:nth-of-type(1) {
    order: 1;
  }

  &:nth-of-type(2) {
    order: 3;
  }

  &:nth-of-type(3) {
    order: 2;
  }

  @media (min-width: @tablet-width) {
    width: 185px;

    &--house::before {
      top: 25px;
      left: 58%;
      transform: translateX(-50%);
      width: 72px;
      height: 75px;
    }

    &--food::before {
      top: 25px;
      left: 64%;
      transform: translateX(-50%);
      width: 76px;
      height: 68px;
    }

    &--souvenirs::before {
      top: 20px;
      left: 65%;
      transform: translateX(-50%);
      width: 64px;
      height: 75px;
      background-size: 100%;
    }

    &:nth-of-type(1) {
      order: 1;
    }

    &:nth-of-type(2) {
      order: 2;
    }

    &:nth-of-type(3) {
      order: 3;
    }

    // &:nth-of-type(3) > p {
    //   width: 195px;
    // }
  }

  @media (min-width: @desktop-width) {
    &--house::before {
      top: 23px;
      left: 57%;
      transform: translateX(-50%);
      width: 72px;
      height: 75px;
    }

    &--food::before {
      top: 25px;
      left: 62%;
      transform: translateX(-50%);
      width: 76px;
      height: 68px;
    }

    &--souvenirs::before {
      top: 19px;
      left: 62%;
      transform: translateX(-50%);
      width: 64px;
      height: 75px;
      background-size: 100%;
    }
  }
}

.features-sublist__item--house {
  @media (min-width: @tablet-width) {
    padding-left: 36px;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
    padding-left: 50px;
  }
}

.features-sublist__item--house .features-sublist__item-title,
.features-sublist__item--food .features-sublist__item-title {
  @media (min-width: @tablet-width) {
    padding-left: 19px;
  }
}

.features-sublist__item--food {
  @media (min-width: @tablet-width) {
    width: 180px;
    padding-left: 73px;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
    padding-left: 101px;
  }
}

.features-sublist__item--souvenirs {
  @media (min-width: @tablet-width) {
    padding-left: 67px;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
    padding-left: 99px;
  }
}

.features-sublist__item--souvenirs .features-sublist__item-title {
  @media (min-width: @desktop-width) {
    padding-left: 19px;
  }
}

.features-sublist__item-title {
  padding-left: 58px;
  font-size: 18px;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding: 121px 20px 0 35px;
    font-size: 21px;
    line-height: 26px;
  }

  @media (min-width: @desktop-width) {
    padding: 120px 20px 0 35px;
  }
}

.features-sublist .features-sublist__item p {
  padding: 20px 10px 27px 58px;

  @media (min-width: @tablet-width) {
    padding: 23px 2px 13px 2px;
    font-size: 14px;
    line-height: 21px;
  }

  @media (min-width: @desktop-width) {
    padding: 23px 2px 13px 2px;
    font-size: 14px;
    line-height: 21px;
  }
}

.features-list__item {
  margin: 0;
  padding: 0;

  &:nth-last-child(-n+3) {
    padding: 27px 15px 25px;
    margin: 0 20px;

    &:not(:nth-last-child(1)) {
      border-bottom: 1px solid @gray-dark-border;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    text-align: center;

    &:nth-last-child(-n+3) {
      margin: 0;
      padding: 0;

      &:not(:nth-last-child(1)) {
        border-bottom: none;
        margin: 0;
      }
    }
  }
}

.features-list__item--min {
  padding: 25px 10px;

  @media (min-width: @tablet-width) {
    width: 33.3333%;
    min-height: 256px;
    padding: 0;
  }
}

.features-list__item-img {
  display: block;

  @media (min-width: @tablet-width) {
    height: 256px;
    width: 100%;
  }
}

.features-list__info {
  position: relative;
  padding: 22px 0 35px;

  @media (min-width: @tablet-width) {
    width: 33.3333%;
    padding: 25px 0 40px;

    &:first-of-type::after {
      display: none;
    }
  }
}

.features-list__info .features-list__item-title {
  @media (min-width: @tablet-width) {
    padding: 18px 50px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 25px 50px 0;
  }
}

// .features-list__item--big .features-list__info p {
//   @media (min-width: @desktop-width) {
//     padding-left: 100px;
//     padding-right: 100px;
//   }
// }

.features-list__info--traingle .features-list__item-title {
  @media (min-width: @tablet-width) {
    padding: 18px 30px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 18px 120px 0;
  }
}

.features-list__wrapper {
  @media (min-width: @tablet-width) {
    padding: 42px 30px;
  }
}

.features-list__info--traingle {
  position: relative;
  padding: 55px 0 40px;

  &:first-of-type::after {
    position: absolute;
    content: "";
    height: 37px;
    top: 0;
    left: 0;
    right: 0;
    background-image: url("../../img/index/mobile/mobile-white-mask.svg");
    background-size: auto 100%;
    background-position: top;
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    padding: 22px 0 0;

    &:first-of-type::after {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 28px 0 0;
  }
}

.features-list__item-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;

  &::after {
    display: flex;
    margin-top: 15px;
    counter-increment: section;
    content: " — №"counter(section) " —";
    font-size: 14px;
    font-weight: normal;
    justify-content: center;
  }

  @media (min-width: @tablet-width) {
    padding: 0 20px;
    font-size: 21px;
    line-height: 26px;

    &::after {
      margin-top: 10px;
    }
  }
}


.features-list__item--min .features-list__wrapper p {
  @media (min-width: @tablet-width) {
    padding: 21px 10px 0;
  }
}

.features-list__item--min .features-list__item-title {
  @media (min-width: @desktop-width) {
    padding: 0 95px;
  }
}

.features-list__item p {
  font-size: inherit;
  line-height: 21px;
  margin: 0;
  padding: 16px 0 0;

  @media (min-width: @tablet-width) {
    padding: 21px 30px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 21px 69px 0;
  }
}
