.search {
  padding: 33px 16px 49px;

  @media (min-width: @tablet-width) {
    padding: 57px 155px;
    background-color: @basic-white;
  }

  @media (min-width: @desktop-width) {
    padding-top: 55px;
    padding-bottom: 66px;
  }
}

.search__title {
  margin: 0;
  font-size: 21px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.search p {
  margin: 20px 0 28px;
  font-size: 14px;
  line-height: 24px;
  color: @basic-dark;
  padding-bottom: 16px;

  @media (min-width: @tablet-width) {
    padding: 7px 0 0;
    line-height: 26px;
    margin-bottom: 52px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 200px;
    margin-top: 28px;
    margin-bottom: 57px;
  }
}

.search__button {
  // width: 280px;
  height: 58px;
  padding: 14px 47.7px 17px;
  font-size: 21px;
  font-family: inherit;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @basic-white;
  vertical-align: middle;
  background-color: @accent-color;
  border: none;

  &:hover,
  &:focus {
    background-color: @accent-hover;
  }

  &:active {
    background-color: @accent-active;
    color: @basic-white-03;
  }

  &:disabled {
    color: @basic-white;
    background-color: @input-active;
  }

  @media (min-width: @tablet-width) {
    min-width: 458px;
    padding: 15.5px 136px;
  }
}
