.footer {
  display: flex;
  flex-direction: column;
  padding: 24px 20px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: @basic-white;
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 120px;
  }
}

.footer__hashtag {
  padding: 10px 0 31px;
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.social-list {
  display: flex;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.social-list__link {
  display: flex;
  width: 46px;
  height: 48px;
  margin: 0 3px;
  align-items: center;
  justify-content: center;
  background-color: @accent-color;

  &:hover {
    background-color: @accent-hover;
  }

  &:focus {
    background-color: @accent-hover;
  }

  &:active {
    fill: @basic-white-03;
    background-color: @accent-active;
  }
}

.social-list__link--twitter::before {
  display: flex;
  width: 17px;
  height: 17px;
  content: "";
  background-image: url("../img/footer/icon-twitter.svg");
  background-repeat: no-repeat;
}

.social-list__link--facebook::before {
  display: flex;
  width: 12px;
  height: 22px;
  content: "";
  background-image: url("../img/footer/icon-facebook.svg");
  background-repeat: no-repeat;
}

.social-list__link--youtube::before {
  display: flex;
  width: 20px;
  height: 16px;
  content: "";
  background-image: url("../img/footer/icon-youtube.svg");
  background-repeat: no-repeat;
}

.copyright {
  padding-top: 10px;
  display: flex;
  align-self: center;
  justify-content: center;

  @media (min-width: @tablet-width) {
    padding: 0 0 7px;
  }
}

.copyright__logo {
  color: @basic-black;
  text-decoration: none;

  &:hover .copyright__logo,
  &:focus .copyright__logo {
    fill: @accent-color;
  }

  &:active .copyright__logo {
    fill: @basic-black-03;
  }
}

.copyright__content {
  line-height: 26px;

  // @media (min-width: @tablet-width) {
  // }
}
