.page-photo {
  margin-top: 32px;
}

.main-page__photo--title {
  padding: 0 8px;
  font-size: 18px;
  line-height: 26px;
}

.main-page__photo-content {
  // точный отступ сверзу потом по пиксель перыекту подгоню
  padding: 10px 15px 0;
  line-height: 24px;
  color: @basic-dark;
}

.photo-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.photo-list__item {
  list-style: none;
  margin: 0 auto;
  padding: 22px 20px 21px;
  border: none;
  border-top: 1px solid @input-active;
}

.photo-list__item:last-of-type {
  border-bottom: 1px solid @input-active;
}

.photo-list__item--description {
  text-align: start;
}

.photo-list__item--title {
  font-size: 14px;
  line-height: 24px;
}

.photo-list__item--author {
  text-transform: none;
  font-size: 14px;
  line-height: 24px;
  color: @basic-dark;
}

.photo-list__item--likes-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  // странно, что у кнопки лайка нет активных состояний...
}

.photo-list__item--likes-count {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.video {
  padding: 32px 8px 0;
}

.video-motivation--title {
  font-size: 18px;
  line-height: 26px;
}

.video-motivation--text {
  // точные отсупы подгоню позже по пиксель перфекту
  padding: 10px 14px;
  color: @basic-dark;
  font-size: 14px;
  line-height: 24px;
}
