.form-page__content {
  margin-top: 36px;

  @media (min-width: @desktop-width) {
    margin-top: 114px;
  }
}

.form-page__intro-title {
  padding: 0 8px;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    padding-top: 27px;
    font-size: 30px;
    line-height: 26px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
  }
}

.form-page__intro-content {
  margin: 0;
  padding: 13px 8px 17px 10px;
  line-height: 24px;
  color: @basic-dark;

  @media (min-width: @tablet-width) {
    width: 480px;
    margin: 0 auto;
    padding: 8px 30px;
  }
}

.form {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    justify-content: space-between;
    padding: 57px 50px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}

.form-block {
  width: 100%;
  padding: 0 10px 20px;
  margin: 0;
  border: none;
  border-top: 1px solid @input-active;

  &:nth-child(4) {
    padding-bottom: 18px;
  }

  @media (min-width: @tablet-width) {
    padding: 0 0 25px;
    border-top: none;
  }
}

.form__contacts,
.form__location,
.form__emotions {
  @media (min-width: @tablet-width) {
    position: relative;
    width: 100%;
  }
}

.form__contacts {
  padding-bottom: 23px;

  @media (min-width: @tablet-width) {
    position: relative;
    padding-top: 6px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 3px;
  }
}

.form__location .form__title {
  padding-top: 15px;

  @media (min-width: @tablet-width) {
    &::before {
      position: absolute;
      width: 123px;
      height: 1px;
      content: "";
      top: 40px;
      left: 10px;
      background-color: @gray-border;
    }

    &::after {
      position: absolute;
      width: 123px;
      height: 1px;
      content: "";
      top: 40px;
      right: 10px;
      background-color: @gray-border;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 29px;

    &::before {
      width: 280px;
      top: 55px;
    }

    &::after {
      width: 280px;
      top: 55px;
    }
  }
}

.form__contacts .form__title {
  @media (min-width: @tablet-width) {
    &::before {
      position: absolute;
      width: 123px;
      height: 1px;
      content: "";
      top: 35px;
      left: 10px;
      background-color: @gray-border;
    }

    &::after {
      position: absolute;
      width: 123px;
      height: 1px;
      content: "";
      top: 35px;
      right: 10px;
      background-color: @gray-border;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      width: 280px;
      top: 32px;
    }

    &::after {
      width: 280px;
      top: 32px;
    }
  }
}

.form__location-list {
  @media (min-width: @tablet-width) {
    width: 510px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.form__location-list .form-list__item {
  padding-top: 19px;

  &:nth-child(1) {
    padding-top: 13px;
  }

  @media (min-width: @tablet-width) {
    width: 211px;

    &:nth-child(1) {
      padding: 34px 24px 0 27px;
    }

    &:nth-child(2) {
      padding: 34px 0 0 23px;
    }

    &:nth-child(3) {
      padding: 27px 0 0 27px;
    }

    &:nth-child(4) {
      padding: 27px 0 0 47px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 210px;
    padding: 48px 5px;

    &:nth-child(1) {
      padding-left: 0;
    }

    &:nth-child(2) {
      padding-left: 26px;
    }

    &:nth-child(3) {
      padding-top: 35px;
      padding-left: 48px;
    }

    &:nth-child(4) {
      padding-top: 36px;
      padding-left: 28px;
    }
  }
}

.form__contacts-list {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
}

.form__contacts-list .form-list__item {
  padding: 0 0 5px;

  @media (min-width: @tablet-width) {
    padding: 3px 0 14px;
  }

  @media (min-width: @desktop-width) {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    width: 50%;
    padding: 62px 0 0;

    &:nth-child(2) {
      padding: 62px 23px 0;
    }
  }
}

.form__contacts-list .form__sub-tittle {
  padding: 8px 0 7px 21.5px;

  @media (min-width: @desktop-width) {
    padding: 18px 16.5px 0 0;
  }
}

.form__contacts-list .form__input {
  @media (min-width: @desktop-width) {
    width: 315px;
  }
}

.form__name .form__input {
  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.form__impression {
  @media (min-width: @tablet-width) {
    width: 334px;
    order: -1;
  }

  @media (min-width: @desktop-width) {
    width: 50%;
  }
}

.form__impression .form__title {
  text-align: start;

  @media (min-width: @desktop-width) {
    text-align: center;
    padding-right: 47px;
    padding-top: 50px;
  }
}

.form__name .form__title {
  padding-left: 58px;
  text-align: start;

  @media (min-width: @desktop-width) {
    padding-left: 79px;
    padding-top: 50px;
  }
}

.form-block .form__impression-list {
  position: relative;
  padding-bottom: 0;

  @media (min-width: @tablet-width) {
    // border-right: 1px solid @input-active;
    padding-top: 35px;

    &::after {
      position: absolute;
      width: 1px;
      height: 292px;
      content: "";
      top: -32px;
      right: 0;
      background-color: @gray-border;
    }
  }
}

.form__impression-list .form-list__item {
  @media (min-width: @tablet-width) {
    padding: 15px 0;

    &:nth-child(3) {
      padding-top: 3px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 4px;

    &:nth-child(1) {
      padding-left: 4px;
    }
  }
}

.form__name {
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    width: 334px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    width: 50%;
  }
}

.form-list {
  list-style: none;
  text-align: start;
  padding: 0 10px;
  margin: 0;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
  }
}

.form__name-list .form-list__item {
  @media (min-width: @tablet-width) {
    padding-top: 10px;

    &:nth-child(1) {
      padding-top: 46px;
    }
  }
}

.form__name-list .form__sub-tittle {
  @media (min-width: @tablet-width) {
    padding-right: 16px;
  }

  @media (min-width: @desktop-width) {
    padding: 16px 17px 0 70px;

    &:nth-child(1) {
      padding-right: 13px;
    }
  }
}

.form-list__item {
  position: relative;
  padding: 10px 0;
}

.form__title {
  padding: 20px 10px 9px;
  margin: 0;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.custom-input__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
}

.form__sub-tittle {
  padding-top: 18px;
  padding-bottom: 0;
  padding-right: 15px;
  line-height: 26px;
  color: @basic-dark;

  @media (min-width: @tablet-width) {
    padding-left: 46px;
  }
}

.form__emotions .form__title {
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    padding-top: 47px;
    padding-bottom: 54px;

    &::before {
      position: absolute;
      width: 123px;
      height: 1px;
      content: "";
      top: 56px;
      left: 10px;
      background-color: @gray-border;
    }

    &::after {
      position: absolute;
      width: 123px;
      height: 1px;
      content: "";
      top: 56px;
      right: 10px;
      background-color: @gray-border;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 45px;

    &::before {
      width: 280px;
      top: 53px;
    }

    &::after {
      width: 280px;
      top: 53px;
    }
  }
}

.form__emotions-text {
  min-width: 280px;
  max-width: 960px;
  min-height: 160px;
  padding: 12px 23px 29px 21px;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  border: none;
  background-color: @basic-grey;
  color: @basic-black;
  box-sizing: border-box;

  &:hover {
    background-color: @input-active;
  }

  &:focus,
  &:active {
    background-color: transparent;
    outline: 4px solid @input-active;
  }

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 26px;
    padding-top: 18px;
  }

  @media (min-width: @tablet-width) {
    min-width: 648px;
    height: 160px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    min-width: 960px;
  }
}

.form__label {
  display: flex;
  width: 100%;
  // align-items: center;
}

.form__input {
  width: 100%;
  height: 58px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 26;
  font-family: inherit;
  font-weight: bold;
  padding: 18px 22px 14px;
  border: none;
  background-color: @basic-grey;
  color: @basic-black;

  &:hover {
    background-color: @input-active;
  }

  &:focus,
  &:active {
    background-color: transparent;
    outline: 4px solid @input-active;
    box-sizing: border-box;
  }

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 26px;
  }

  @media (min-width: @desktop-width) {
    width: 315px;
  }
}

.form__input::placeholder,
.form__emotions-text::placeholder {
  color: @basic-black;
  font-weight: bold;
}

.form__submit {
  padding: 25px 0 0;
  text-align: center;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: inline-flex;
    width: 100%;
    padding: 27px 0 51px 10px;
    text-align: start;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 74px;
  }
}

.form__required-field {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    padding: 21px 11px 0 0;
  }
}

.form__button {
  min-width: 280px;
  padding: 18.5px 15px 14px;

  @media (min-width: @tablet-width) {
    width: 324px;
    padding: 18.5px 13px 14px 4px;
  }

  @media (min-width: @desktop-width) {
    width: 480px;
    padding-left: 15px;
  }
}

.custom-input {
  padding: 7px 0 0;
  margin: 0;

  &:nth-child(1) {
    padding: 13px 0 0;
  }

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.form__impression-list .custom-input__input + label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.form__impression-list .custom-input__input + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 18px solid @basic-grey;
  border-radius: 50%;
  margin-right: 23px;
  background-color: @basic-grey;
  background-repeat: no-repeat;
  background-position: center center;

  @media (min-width: @tablet-width) {
    margin-right: 20px;
  }
}

.form__impression-list .custom-input__input + label:hover::before,
.form__impression-list .custom-input__input + label:focus::before {
  border: 15px solid @input-active;
  background-color: @input-active;
}

.form__impression-list .custom-input__input + label:active::before {
  border: 15px solid @radiocheck-down;
  background-color: @radiocheck-down;
}

.form__impression-list .custom-input__input:checked + label::before {
  background-color: @basic-dark;
  background-repeat: no-repeat;
  background-position: center center;
}

.form__impression-list .custom-input__input:checked + label:hover::before,
.form__impression-list .custom-input__input:checked + label:focus::before {
  border: 15px solid @input-active;
  background-color: @basic-dark;
}

.form__impression-list .custom-input__input:checked + label:active::before {
  border: 15px solid @basic-dark-03;
  background-color: @radiocheck-down;
}

.form__location-list .custom-input__input + label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.form__location-list .custom-input__input + label::before {
  content: "";
  display: inline-block;
  width: 55px;
  height: 55px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 5%;
  margin-right: 24px;
  background-color: @basic-grey;
  background-repeat: no-repeat;
  background-position: center center;

  @media (min-width: @desktop-width) {
    border-radius: 0;
  }
}

.form__location-list .custom-input__input + label:hover::before,
.form__location-list .custom-input__input + label:focus::before {
  background-color: @radiocheck-down;
}

.form__location-list .custom-input__input + label:active::before {
  background-color: @input-active;
}

.form__location-list .custom-input__input:checked + label::before {
  background-image: url("../img/common/tick.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.form__location-list .custom-input__input:checked + label:active::before {
  opacity: 0.3;
}


.form__label--contacts {
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.form__label--contacts-phone::before {
  position: absolute;
  top: 42px;
  right: 0;
  content: "";
  width: 58px;
  height: 58px;
  background-image: url("../../img/common/phone.svg");
  background-color: @gray-again;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    top: 44px;
  }

  @media (min-width: @desktop-width) {
    top: 62px;
    right: 55px;
  }
}

.form__label--contacts-mail::before {
  position: absolute;
  top: 42px;
  right: 0;
  content: "";
  width: 58px;
  height: 58px;
  background-image: url("../../img/common/mail.svg");
  background-color: @gray-again;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    top: 44px;
  }

  @media (min-width: @desktop-width) {
    top: 62px;
    right: 20px;
  }
}
